.pagination.center,
.pagination.center ul {
    float: left;
    position: relative;
}

.pagination.center {
    left: 50%;
}

.pagination.center ul {
    left: -50%;
}

#map {
    height: 400px;
    width: 100%;
}